<nav class="navbar navbar-expand-lg navbar-light" aria-label="breadcrumb">
    <div class="container-fluid py-2">
      <div class="d-flex">
        <img src="../../assets/drapeau.png" alt="FRANCE" width="75" height="75" class="img-fluid me-2">
        <h4>On apprend le découpage de territoire</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">City</a></li>
            <li class="breadcrumb-item"><a href="#">Department</a></li>
            <li class="breadcrumb-item active" aria-current="page"> <a href="#">Region</a></li>
        </ol>
      </div>
    </div>
  </nav>



